body {
  background-image: url("../public/pizzeria.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 98%;
  height: 11%;
  background-color: red;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-inline-end: 30px;
}

#home {
  text-decoration: none;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 9%;
  background-color: red;
  color: white;
  font-size: 12px;
}

.leftColumn {
  background: rgba(157, 27, 16, 0.7);
  color: white;
  font-style: oblique;
  position: fixed;
  top: 11%;
  left: 0%;
  width: 10%;
  height: 80%;
  border: 2px solid red;
  text-align: center;
  align-items: center;
  overflow: scroll;
}

input.allergen-checkbox {
  width: 26px;
  height: 26px;
}

.centerColumn {
  position: fixed;
  top: 11%;
  left: 10%;
  width: 60%;
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* border: 2px solid blue; */
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
}

.pizzaContainer {
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: auto;
}

.pizzaCard {
  width: 20rem;
  height: 30rem;
  margin: 10px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  overflow: visible;
  flex-direction: column;
  text-align: center;
  color: white;
  font-weight: 600;
  background: rgba(157, 27, 16, 0.7);
  border-radius: 10px;
  border: solid white 2px;
}

.pizzaCard div {
  align-items: center;
  flex: 1;
}

.pizzaPicture {
  margin-top: 5%;
  border-radius: 10px;
  max-height: 60%;
  max-width: 60%;
  height: auto;
  width: auto;
  border: solid purple 2px;
}

.pizzaName::first-line,
.price::first-line,
.ingredients::first-line,
.allergenList::first-line {
  text-decoration: underline;
}
.pizzaName,
.price,
.ingredients,
.allergenList {
  width: 98%;
  margin-top: 10px;
  flex: 1;
  text-align: center;
}

.addToBasket {
  height: 40px;
  margin: 10px;
  color: rgb(157, 27, 16);
  /*   border: 2px solid blue; */
  border-radius: 15px;
  background-color: white;
  font-size: larger;
  scroll-padding-top: 1rem;
  padding: 8pt;
}
.addToBasket:hover {
  background-color: lightgreen;
  color: #000;
  opacity: 1;
}

#empty-pizzalist {
color:white;
background-color:red;
padding:40px;
border-radius:20px;
margin-left:5%;
text-align:center;
}


.rightColumn {
  position: fixed;
  top: 11%;
  right: 0%;
  width: 29%;
  height: 80%;
  text-align: center;
  align-items: center;
  /*   border: 2px solid yellow;
 */
  font-size: 80%;
}

.btn {
  width: 80px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 3px;
  color: blue;
  margin-right: 3px;
  align-items: center;
  text-align: center;
  cursor: "pointer";
}
.btn:hover {
  background-color: aquamarine;
  color: gray;
}
input {
  margin-top: 15px;
}

#login-form,
#boss-page,
#staff-page {
  background: rgba(157, 27, 16, 0.7);
  width: 80%;
  height: 50%;
  border: solid 3px white;
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
  margin-top: 20%;
}

#login-form div {
  font-size: 30px;
  margin-top: 15px;
}

#messages {
  background: rgba(157, 27, 16, 0.7);
  color: white;
  width: 80%;
  height: 50%;
  border: solid 3px white;
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
  margin-top: 20%;
}
.message-box {
  width: 75%;
  max-height: 270px;
  padding: 20px 20px;
  text-align: left;
  background: rgba(157, 27, 16, 0.7);
  color: white;
  border: solid 3px white;
  border-radius: 15px;
  margin: 10px;
  overflow: scroll;
}

.message-box::first-line {
  color: red;
}

#registration-form,
#orderList,
#message-form {
  background: rgba(157, 27, 16, 0.7);
  width: 80%;
  height: 92%;
  border: solid 3px white;
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
}

#registration-form div,
#message-form div {
  font-size: 30px;
  margin-top: 5px;
}

#about-us {
  background: rgba(157, 27, 16, 0.7);
  border-radius: 15px;
  width: 85%;
  height: 90%;
  border: solid 3px white;
  color: white;
  font-size: 15px;
  text-align: justify;
  overflow: scroll;
  padding: 15px;
  margin: 10px;
}

/* For mobile 640 Resolution */
@media only screen and (max-width: 640px) {
  body {
    background-size: cover;
    background-repeat: repeat;
  }

  div.leftColumn {
    font-size: 70%;
  }
  input.allergen-checkbox {
    width: 30%;
    height: 30%;
  }
  div.leftColumn::first-line {
    font-style: normal;
    font-size: 50%;
  }
  .pizzaCard {
    width: 80%;
    height: 95%;
  }
  .pizzaPicture {
    max-height: 40%;
    max-width: 40%;
  }
  .pizzaName,
  .price,
  .ingredients,
  .allergenList {
    border: solid purple 2px;
    margin-top: 5px;
    flex: 1;
    text-align: center;
  }
  .addToBasket {
    height: 20%;
    font-size: 50%;
  }

  .btn {
  width: 35.0px;
  padding: 0.5px;
  font-size: 0.4rem;
  border: 1px solid black;
  border-radius: 3px;
  color: blue;
  margin-right: 3px;
  align-items: center;
  text-align: center;
  cursor: "pointer";
}

  div.footer {
    font-size: 6px;
  }
}
