.container {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 98%;
  height: 10%;
  background-color: red;
  color: white;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-inline-end: 20px;
  border: 2px solid red;
}

.footer {
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 98%;
  background-color: red;
  color: white;
  border: 2px solid black;
  padding-inline-end: 30px;
  padding-left: 10px;
}

.btn {
  padding: 10px;
  border-radius: 15px;
  color: blue;
}
.btn:hover {
  background-color: aquamarine;
  color: gray;
}
